<!DOCTYPE html>
<html>
<head>
  <title>{{ post.title }}</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/forum/">Forum</a>
    </nav>
    <h1>{{ post.title }}</h1>
    <p><small>Posted by {{ post.user.name }} on {{ post.date }}</small></p>
  </header>

  <main>
    <article>
      <p>{{ post.text }}</p>
    </article>
    {% if comments %}
      {% for comment in comments %}
        <article>
          <p>
            {{ comment.text }}
            <br>
            <small>Posted by {{ comment.user.name }} on {{ post.date }}</small>
          </p>
        </article>
      {% endfor %}
    {% else %}
      <p><small><i>No comments (yet!)</i></small></p>
    {% endif %}
  </main>
</body>
</html>
