<!DOCTYPE html>
<html>

<head>
  <title>Ripcord - Home</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
  <header>
    <nav>
      <a href="#" class="current">Home</a>
      <a href="/forum">Forum</a>
    </nav>
    <h1>Welcome to Ripcord</h1>
  </header>

  <main>

    <center>
      <br>
      {% if user.is_authenticated %}
        <p>Signed in as <strong>{{ user.username }}</strong>
        &nbsp;
        <form action="/auth/logout/" method="post">
          {% csrf_token %}
          <button type="submit">Log out</button>
        </form>
      {% else %}
        <a class="button" href="/auth/register/">Sign up</a>
        &nbsp; or &nbsp;
        <a class="button" href="/auth/login/">Log in</a>
      {% endif %}
    </center>

    <section>
      <h3>A place for students to share their intuition</h3>
      <p>
        Students often make some of the best teachers.
        Their knowledge of a subject is not only more recent, but their shared
        perspective makes it easier to connect with a peer and meet them where
        they are.
        <br><br>
        Because of this, it's no secret that many intuitive study resources
        come not from official materials, books, and documentation, but from
        peers and recent graduates.
        <br><br>
        Unfortunately, these resources are often scattered across various
        corners of the internet and obscure Discord servers.
        <br><br>
        <i>That's where Ripcord comes in. <span style="font-size: 0.8rem;">(not really)</span></i>
      </p>
    </section>

  </main>


</body>

</html>